 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e0d0d;
} 

.about-section {
    width: 90%;
    margin: auto;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #f5fafa;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    line-height: 1.6;
    
}

.about-section h2 {
    color: #070505;
    font-size: 2em;
    text-align: center;
}
.about-section h3 {
    color: #070505;
    text-align: center;
}

.about-section p {
    text-align: center;
    color: #050404;
    line-height: 1.6;
}


.about-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}